{% extends "TCMainBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Tag {% endblock %}

{% block body %}

<h3> Formulaire d'ajout d'un Tag </h3>

<div>
	{{ form(form) }}
</div>

{% endblock %}